#app{ 
  height:100%;
}

#content, #dopinfo{
  padding: 0 50px;
}
.layout{
  height: 100%;
}
.subcontent{
  background: #fff;
  padding-top:20px;
  padding-bottom: 40px;
  height:100%;
  /*overflow: overlay;*/
}
.ant-pagination{
  text-align: center;
  padding-top: 4px;
}