.vs
**/wwwroot/upload/
**/wwwroot/dist/
**/wwwroot/lib/
**/bin
**/obj
/.idea
**/node_modules/
/public
/vendor
composer.lock
package-lock.json
package-jquery.json.back
npm-debug.log
yarn-error.log
/logs
/WebDBFShow/database.db
/WebDBFShow/database.db-shm
/WebDBFShow/database.db-wal
